<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script><!--include Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://togetherjs.com/togetherjs-min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter </h1>
      </ion-header-bar>
      <ion-content>
	<div ng-controller="EditorCtrl">
           
        <div class="row">
            
            <div class="col col-75" id="tools-bar">TOOLS HERE !</div>
            <div class="col">
                
              <a onclick="TogetherJS(this); return false;">
              <img src="https://togetherjs.com/images/start-togetherjs-blue.png" style="width: 135px" /></a>

            </div>
        </div>   
        
        <div class="row">
            <div class="col">
                
            <textarea name="editor" id="editor-textarea" ng-model="EditContent">

            </textarea> 
                
            </div>
        </div> 
            
        <div class="row">
            <div class="col">
                
            <textarea name="editor" id="editor-html" >

            </textarea> 
                
            </div>
        </div>     
         <button class="button icon-left button-stable" ng-click="showContent()">Content</button>
         <button class="button icon-right button-stable" ng-click="openPDF()">PDF</button>

         <a href="http://localhost/collatexserver/api/pdf/down.php?file_content={{pdfFile}}"  target="_blank"> DOWNLOAD  {{pdfFile}}     
         </a>
       <div class="bar bar-footer bar-balanced">
          <div class="title">Footer</div>
       </div>   
       </div>   
      </ion-content>
    </ion-pane>
  </body>
</html>
